<div class="details_container">
  <header>
    <div class="detailBackground">
      <img class="detailImage" [src]="game.imgBanner" alt="">
    </div>

    <div class="logo">
      <img class="logoImg" [src]="game.logo" alt="">
  </div>
  </header>
  <main>
    <section class="firstInfo">
      <app-info-card iconName="ionCalendarOutline" [content]="game.release" />
      <app-info-card iconName="ionGameControllerOutline" [content]="game.plataform" />
      <app-info-card iconName="ionPeopleOutline" [content]="nPlayers" />
      <app-info-card iconName="ionStarOutline" content="7.8" />
    </section>

    <section class="resume">
        <h2>Resumo do jogo:</h2>
        <p class="gameResume">{{game.about}}</p>
    </section>

    <section class="gameTrailer">
      <h2>Trailer:</h2>
      <video controls preload="auto" muted loop>
        <source src="https://www.gamesdatabase.org/Media/SYSTEM/Nintendo_Game_Boy_Advance/Video/Formated/Dragonball__Advanced_Adventure___2006___Atari.mp4" />
      </video>
    </section>

    <section class="about">
      <h2>Sobre o jogo:</h2>
      <h3>Publishers:</h3>
      <ul>
        <li>Banpresto Co., Ltd.</li>
        <li>Atari Europe S.A.S.U.</li>
        <li>Atari, Inc.</li>
      </ul>
      <h3>Developers:</h3>
      <ul>
        <li>Dimps Corporation</li>
      </ul>
      <h3>Categories:</h3>
      <ul>
        <li>Action</li>
        <li>Beat 'em up / brawler</li>
        <li>Platform</li>
      </ul>
    </section>

    <section class="gameImages">
      <h2>Galeria do jogo:</h2>
      <div class="images">
        <img  *ngFor="let img of images" [src]="img">
      </div>
    </section>

    <section class="rewards">
      <h2>Recompensas:</h2>
    </section>
  </main>
</div>
