
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MyCollection-primary: mat.define-palette(mat.$indigo-palette);
$MyCollection-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MyCollection-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MyCollection-theme: mat.define-light-theme((
  color: (
    primary: $MyCollection-primary,
    accent: $MyCollection-accent,
    warn: $MyCollection-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MyCollection-theme);

// -------====-------

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-font: "Poppins", sans-serif;
  --color-1: #202124;
  --color-2: #303134;
  --color-3: #E8EAED;
  --color-4: #8AB4F8;
  --color-5: #546A8D;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

header, main, section, footer {
  margin: 10px 0;
}

ng-icon, a, p, h1, h2, h3, li, img, input {
  color: var(--color-3);
}

li {
  list-style: none;
}

video, img {
  border-radius: 10px;
}

main {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

html, body { height: 100%; }

body {
  background-color: var(--color-1);
}
